Repository hashicorp/nomad-pack, pull requests merged in 2022-01, with the labels that each got.

#181 cli: run template canonicalization before planning to fix diffs.
  CHANGELOG.md
  cli/plan.go
Labels: type/bug, stage/accepted, theme/cli

#182 Fix typo in README
  README.md
Labels: type/bug, theme/docs

#185 Alias standard library errors funcs into internal errors package
  cli/helpers.go
  cli/registry_add.go
  cli/render.go
  internal/pkg/cache/delete.go
  internal/pkg/errors/cache.go
  internal/pkg/errors/errors.go
  internal/pkg/errors/ui_context.go
  internal/pkg/errors/wrapped_context.go
  internal/pkg/errors/wrapped_context_test.go
  internal/runner/job/error.go
Labels: theme/cleanup, type/enhancement

#184 Fixed render's overwrite prompt
  cli/commands.go
  cli/render.go
Labels: type/bug, theme/cli

#190 Remove dev binary from $GOBIN before copying over
  Makefile
Labels: type/bug, theme/building

#191 Handle HEREDOC delimiter immediately before EOF
  CHANGELOG.md
  fixtures/variables-with-heredoc/README.md
  fixtures/variables-with-heredoc/heredoc_variable_noeof/README.md
  fixtures/variables-with-heredoc/heredoc_variable_noeof/metadata.hcl
  fixtures/variables-with-heredoc/heredoc_variable_noeof/templates/heredoc.nomad.tpl
  fixtures/variables-with-heredoc/heredoc_variable_noeof/variables.hcl
  fixtures/variables-with-heredoc/vars.hcl
  internal/pkg/variable/cli_test.go
  internal/pkg/variable/parser.go
Labels: type/bug, theme/template/render
