Repository hashicorp/nomad-pack, pull requests merged in 2023-07, with the labels that each got.

#375 runner: submit template when running the job
  CHANGELOG.md
  internal/runner/job/job.go
Labels: theme/runner/job

#367 pack: vendor dependencies
  CHANGELOG.md
  docs/writing-packs.md
  internal/cli/cli_test.go
  internal/cli/deps_help.go
  internal/cli/deps_vendor.go
  internal/cli/main.go
  internal/cli/run.go
  internal/pkg/cache/add.go
  internal/pkg/cache/cache_test.go
  internal/pkg/deps/vendor.go
  internal/pkg/deps/vendor_test.go
  internal/pkg/helper/filesystem/filesystem.go
  internal/pkg/helper/filesystem/filesystem_test.go
  internal/pkg/helper/signalcontext.go
Labels: type/enhancement, theme/pack/metadata, theme/pack/dependency, theme/cli

#392 [chore] fix nightly-release.yml
  .github/workflows/nightly-release.yml
Labels: type/bug, theme/building, chore, theme/release

#393 [bug] Handle nil `Subject` in `Diags` wrapper
  internal/pkg/errors/wrapped_context.go
Labels: type/bug, theme/cli
